.auth-main {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.auth-page-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 972px;
  height: calc(100vh - 80px);
  background-color: white;
  padding-top: 152px;
  margin-top: 80px;
}

.auth-text-input {
  width: 544px;
  height: 42px;
  padding: 8px 12px 8px 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 2px solid var(--redseam-mid-gray);
  font-family: Poppins, Helvetica, sans-serif;
}
.auth-text-input::placeholder {
  color: var(--redseam-silver-blue);
}

.auth-text-input:focus {
  border: 1px solid var(--redseam-navy-blue);
  outline: none;
}

.auth-text-input:focus::placeholder {
  color: transparent;
}

.auth-text-input::placeholder::-webkit-input-placeholder:after {
  content: " *";
  color: var(--redseam-orange);
}

.auth-page-image {
  width: 948px; /* keep fixed width */
  height: calc(100vh - 80px); /* set vertical size */
  object-fit: cover;
  object-position: top center;
}

.input-with-icon {
  position: relative;
}
.input-with-icon input {
  padding-right: 38px;
}

.eye-icon {
  position: absolute;
  right: 11px;
  top: 32%;
  transform: translateY(-50%);
}

/* Profile picture upload */

.profile-upload-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 46px;
  width: 554px;
}

.profile-picture-frame {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--redseam-mid-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.profile-picture-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: var(--redseam-mid-gray);
}

.profile-upload-buttons {
  display: flex;
  gap: 15px;
}

.upload-btn,
.remove-btn {
  font-size: 14px;
  color: var(--redseam-silver-blue);
}

/* Errors */

.error-message {
  position: static;
  font-size: 10px;
  font-weight: 300;
  color: var(--redseam-orange);
}

.error-message-register {
  bottom: 24.3%;
}

.input-validation-error {
  border: 1px solid var(--redseam-orange);
}

.error-container {
  height: 46px;
  display: flex;
  width: 554px;
  padding-left: 10px;
}
