.products-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-filter-bar-container {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  width: 1720px;
  margin-bottom: 32px;
}

.products-container {
  width: 1720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-cards-container {
  width: 1720px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.product-card {
  display: flex;
  width: 412px;
  height: 612px;
  margin-bottom: 48px;
  flex-direction: column;
}

.product-card:hover {
  cursor: pointer;
}

.product-list-image-container {
  background-color: var(--redseam-light-gray);
  width: 412px;
  height: 549px;
  border-radius: 10px;
  outline: 1px solid var(--redseam-mid-gray);
}

.product-list-image {
  background-color: var(--redseam-light-gray);
  object-fit: contain;
  width: 412px;
  height: 549px;
  border-radius: 10px;
}

.product-card-info-container {
  margin-top: 12px;
  height: 53px;
}

.product-card-info-container p {
  font-weight: 500;
}

.page-nav-container {
  width: min-content;
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 216px;
  margin-top: 42px;
  column-gap: 8px;
  width: auto;
}

.page-nav-button {
  background: none;

  outline: 1px solid var(--redseam-mid-gray);
  height: 32px;
  width: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  border: none;
  transition: none;
  font-family: Poppins, Arial, sans-serif;
}

.page-nav-button p {
  font-weight: 500;
  font-size: 14px;
}

.page-nav-button:hover {
  cursor: pointer;
}

.product-filters-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#showing-results-text {
  font-size: 12px;
  color: #3e424a;
}

.page-nav-prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav-prev-next:hover {
  cursor: pointer;
}

/* Filter buttons */

#price-filter-button,
#sort-by-button:hover {
  cursor: pointer;
}

/* Per product page */

.product-id-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.product-details-image {
  width: 703px;
  height: 937px;
  outline: 1px solid var(--redseam-mid-gray);
  border-radius: 10px;
}

.product-info-container {
  display: flex;
}
.product-info-main-section {
  display: flex;
  justify-content: space-between;
  width: 1575px;
}

.all-product-pictures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 121px;
  height: auto;
  margin-right: 24px;
}

.small-side-product-image {
  width: 121px;
  height: 161.33px;
  outline: 1px solid var(--redseam-mid-gray);
}

.product-details-container {
  width: 704px;
  height: auto;
}

.product-name-and-pricing {
  font-weight: 600;
  font-size: 32px;
}

.product-color {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  border: 1px solid var(--redseam-mid-gray);
}
.product-color:hover {
  cursor: pointer;
}

.product-color-active {
  outline: 1px solid var(--redseam-mid-gray);
  outline-offset: 5px;
}

.product-size {
  outline: 1px solid var(--redseam-mid-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 70px;
  height: 42px;
  column-gap: 8px;
}

.product-size-active {
  background-color: var(--redseam-light-gray);
  outline: 1px solid var(--redseam-navy-blue);
}

.product-size:hover {
  cursor: pointer;
}

.logo-detail-container {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-logo {
  height: max-content;
  width: 109px;
  object-fit: contain;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 382px;
  margin: 56px 0px 56px 0px;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: space-between;
}

.size-picker-container,
.quantity-picker-container {
  display: flex;
  flex-direction: column;
  height: 82px;
  justify-content: space-between;
}

/* Sorter */

.sorter-wrapper {
  position: relative;
  min-width: 80px;
  height: 24px;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  margin-left: 32px;
}

.sorter-trigger {
  min-width: 80px;
  height: 24px;
  text-align: left;
  background: none;
  transition: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
}

.sorter-trigger .arrow {
  padding-top: 1px;
  float: right;
}

.sorter-dropdown {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 223px;
  height: 184px;
  margin: 4px 0 0 0;
  padding: 8px;
  list-style: none;
  background: white;
  border: 1px solid var(--redseam-mid-gray);
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.sorter-option {
  padding: 8px 12px;
  cursor: pointer;
}

.sorter-option:hover {
  background: var(--redseam-light-gray);
}

.sorter-option.selected {
  font-weight: 600;
}

/* Filter */

.price-filter-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 70px;
  height: 24px;
  margin-left: 32px;
}
.filter-open-button {
  border: none;
  background: none;
  transition: none;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
}

.price-filter-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150%;
  right: 0%;
  background: white;
  outline: 1px solid var(--redseam-mid-gray);
  padding: 16px;
  z-index: 90;
  border-radius: 8px;
}

.active-filter-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 37px;
  outline: 1px solid var(--redseam-mid-gray);
  border-radius: 30px;
  padding: 0px 12px 0px 16px;
}

.active-filter-info p {
  font-size: 14px;
  color: var(--redseam-silver-blue);
}

.filter-inputs-container {
  display: flex;
  width: 360px;
  height: 42px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-input {
  width: 175px;
  height: 42px;
  padding: 8px 12px 8px 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 1px solid var(--redseam-mid-gray);
  font-family: Poppins, Helvetica, sans-serif;
}
.filter-input::placeholder {
  color: var(--redseam-silver-blue);
}

.filter-input:focus {
  border: 1px solid var(--redseam-navy-blue);
  outline: none;
}

.filter-input:focus::placeholder {
  color: transparent;
}

.filter-input::placeholder::-webkit-input-placeholder:after {
  content: " *";
  color: var(--redseam-orange);
}

.filter-heading-prompt {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
