.products-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-filter-bar-container {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  width: 1720px;
  margin-bottom: 32px;
}

.products-container {
  width: 1720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-cards-container {
  width: 1720px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.product-card {
  display: flex;
  width: 412px;
  height: 612px;
  margin-bottom: 48px;
  flex-direction: column;
}

.product-card:hover {
  cursor: pointer;
}

.product-list-image-container {
  background-color: var(--redseam-light-gray);
  width: 412px;
  height: 549px;
  border-radius: 10px;
  outline: 1px solid var(--redseam-mid-gray);
}

.product-list-image {
  background-color: var(--redseam-light-gray);
  object-fit: contain;
  width: 412px;
  height: 549px;
  border-radius: 10px;
}

.product-card-info-container {
  margin-top: 12px;
  height: 53px;
}

.product-card-info-container p {
  font-weight: 500;
}

.page-nav-container {
  width: min-content;
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 216px;
  margin-top: 42px;
  column-gap: 8px;
  width: auto;
}

.page-nav-button {
  background: none;

  outline: 1px solid var(--redseam-mid-gray);
  height: 32px;
  width: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  border: none;
  transition: none;
  font-family: Poppins, Arial, sans-serif;
}

.page-nav-button p {
  font-weight: 500;
  font-size: 14px;
}

.page-nav-button:hover {
  cursor: pointer;
}

.product-filters-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.product-filters-container p {
  font-size: 16px;
  font-weight: 400;
  margin-left: 32px;
}

#showing-results-text {
  font-size: 12px;
  color: #3e424a;
}

.page-nav-prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav-prev-next:hover {
  cursor: pointer;
}

/* Filter buttons */

#price-filter-button,
#sort-by-button:hover {
  cursor: pointer;
}

/* Per product page */

.product-id-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.product-details-image {
  width: 703px;
  height: 937px;
  outline: 1px solid var(--redseam-mid-gray);
  border-radius: 10px;
}

.product-info-container {
  display: flex;
}
.product-info-main-section {
  display: flex;
  justify-content: space-between;
  width: 1575px;
}

.all-product-pictures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 121px;
  height: auto;
  margin-right: 24px;
}

.small-side-product-image {
  width: 121px;
  height: 161.33px;
  outline: 1px solid var(--redseam-mid-gray);
}

.product-details-container {
  width: 704px;
  height: auto;
}

.product-name-and-pricing {
  font-weight: 600;
  font-size: 32px;
}

.product-color {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  border: 1px solid var(--redseam-mid-gray);
}
.product-color:hover {
  cursor: pointer;
}

.product-color-active {
  outline: 1px solid var(--redseam-mid-gray);
  outline-offset: 5px;
}

.product-size {
  outline: 1px solid var(--redseam-mid-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 70px;
  height: 42px;
  column-gap: 8px;
}

.product-size-active {
  background-color: var(--redseam-light-gray);
  outline: 1px solid var(--redseam-navy-blue);
}

.product-size:hover {
  cursor: pointer;
}

.logo-detail-container {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-logo {
  height: max-content;
  width: 109px;
  object-fit: contain;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 382px;
  margin: 56px 0px 56px 0px;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: space-between;
}

.size-picker-container,
.quantity-picker-container {
  display: flex;
  flex-direction: column;
  height: 82px;
  justify-content: space-between;
}
